@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Heavy.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local(☺), url("../../sale/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../../sale/fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
